* {
	box-sizing: border-box;
}

body {
	font-family: sans-serif;
	color: #32325f;
}

.hero {
	background-color: #f4f5f7;
	padding-top: 70px;
	padding-bottom: 190px;
}

.container {
	padding: 0;
}

.navbar {
	padding: 0;
	margin-bottom: 159px;
}

.navbar-brand {
	color: #95989a;  /* почему эта строка не работает? цвет остается от body */
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
}

.social a {
	text-decoration: none;
	margin-right: 20px;
}

.subtitle {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 14px;
}

.title {
	font-size: 48px;
	font-weight: 700;
	margin-bottom: 26px;
}

.description {
	font-size: 20px;
	font-weight: 400;
	line-height: 26px;
	margin-bottom: 16px;
}

.price-tag {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 18px;
}

.price {
	font-size: 48px;
	font-weight: 400;
	margin-bottom: 49px;
}

.btn-success {
	margin-right: 20px;
}

.main-image {
	display: flex;
	justify-content: center;
}

.section {
	padding-top: 100px;
	padding-bottom: 100px;
}

.section-subtitle {
	font-size: 20px;
	font-weight: 400;
	margin-bottom: 16px;
}

.section-title {
	font-size: 48px;
	font-weight: 700;
}

.about-block {
	margin-top: 99px;
}

.block-text {
	font-size: 16px;
	font-weight: 400;
	line-height: 1.4;
}

.people {
	background-color: #f4f5f7;
	padding-top: 90px;
	padding-bottom: 112px;
}

.photos {
	margin-top: 64px;
}

.photo {
	margin-bottom: 30px;
}

.footer {
	background-color: #32325f;
	color: #ffffff;
	padding-top: 70px;
	padding-bottom: 70px;
}

.footer-title {
	font-size: 24px;
	font-weight: 700;
}

.footer a {
	color: #ffffff;
	margin-bottom: 10px;
	text-decoration: underline;
}

.footer-block {
	margin-bottom: 20px;
}