* {
	box-sizing: border-box;
}

body {
	background-color: #f4f5f7;
}

.container {
	padding-top: 70px;
	padding-bottom: 70px;
	padding-right: 72px;
	padding-left: 72px;
	background-color: #ffffff;
}

.title {
	color: #333333;
	font-family: Tahoma;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	text-align: center;
	margin-bottom: 82px;
}

.text {
	color: #333333;
	font-family: Tahoma;
	font-size: 16px;
	font-weight: 700;
	text-align: center;
	margin-top: 20px;
}

.text5 {
	margin-top: 32px;
}

.col-12, .col-sm-12, .col-md-6, .col-lg-4, .col-xl-2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-bottom: 40px;
}