body {
	background-image: url(../img/main.jpg);
  background-color: rgba(255,255,255,0.4);
  background-blend-mode: overlay;
	background-size: 100% 100%;
	background-repeat: no-repeat;
}

.title {
text-align: center;
}

.text1 {
  font-weight: bold;
}

.text3 {
  text-decoration: underline;
}

.text4 {
	text-decoration: line-through;
}

.text5 {
	font-style: italic;
}

.notes {
	font-weight: bold;
	font-size: 18px;
}

.color1 {
	color: #8B0000;
}

.color2 {
	color: #006400;
}

.color3 {
	color: #778899;
}

.color4 {
	color: #800080;
}

.color5 {
	color: #7B68EE;
}

.back {
  background-color: #aeaeae;
  font-weight: bold;
  border: double;
	padding: 10px;
}